main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
  }

  /* lightbox */
  figure {
    display: none;
  }
  figure:target {
    display: block;
  }
  figure.default {
    display: block;
  }
  figure:target ~ figure.default {
    display: none;
  }

  figure {
    margin: 0;
  }
  figure img {
    width: 100%;
  }

  /* carousel */
  ul.carousel {
    min-height: 400px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
  }
  ul.carousel:after {
    display: block;
    content: " invisible node ";
    flex: 999 999 auto;
  }
  ul.carousel li {
    flex: 0 0 auto;
    margin: 5px;
  }