<link rel="stylesheet" href="/css/menu.css"/>

<h1><a href="/">{{ site.title }}</a></h1>

<ul>
  {% for item in collections.series %}
    <li{% if page.url == item.url %} class="active"{% endif %}><a href="{{item.url}}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>

<ul class="static-pages">
  <li{% if page.url == '/about/' %} class="active"{% endif %}><a href="/about/">About</a></li>
  <li{% if page.url == '/contact/' %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
</ul>