<h1><a href="/">{{ site.title }}</a></h1>

<ul>
  {% for item in collections.series %}
    <li{% if page.url == item.url %} class="active"{% endif %}><a href="{{item.url}}">{{ item.data.title }}</a></li>
  {% endfor %}
</ul>

<ul>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>