---
layout: layouts/base.njk
---

<link rel="stylesheet" href="/css/about.css"/>

<h1>About</h1>

<article>{{ about | markdownToHTML | safe }}</article>

<a class="instagram" href="https://www.instagram.com/{{instagram}}">{{instagram}}</a>