<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }} - {{title}}</title>
  <link rel="stylesheet" href="/css/base.css"/>
  <link href="https://fonts.googleapis.com/css?family=Cormorant:400,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300&display=swap" rel="stylesheet">
</head>
<body>
  <nav class="menu">
    {% include "partials/menu.njk" %}
  </nav>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>