<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }} - {{title}}</title>
  <style>
    html {
      margin: 0 15rem;
      background-color: rgb(243, 243, 243);
    }
    body {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      justify-items: stretch;
      align-items: stretch;

      background: rgb(255, 255, 255);
      height: 100vh;
      margin: 0;
      padding: 6rem;
    }
  </style>
</head>
<body>
  <nav>
    {% include "partials/menu.njk" %}
  </nav>
  <main>
    {{ content | safe }}
  </main>
</body>
</html>