---
layout: layouts/base.njk
---

{% include "partials/menu.njk" %}

{{ description | markdownToHTML | safe }}

{% for photo in photos %}
  <figure>
    <img src="{{ photo.image | imageResize(200) }}"/>
    <figcaption><strong><em>{{photo.title}}</em></strong>{% if photo.comment %} {{photo.comment}}{% endif %}</figcaption>
  </figure>
{% endfor %}